# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (해당 시)
Pods/
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
